/*
  Práctica 2 - Fichero 'administracion.css'
  Realizado por: Arturo Alonso Carbonero
  DNI: 75936665-A
  Grupo: 3ºA - A1
*/

/* General */
body{
  background: url("Imagenes/TierraCreciente.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}


/* Enlaces */
a:link{
  color: white;
  text-decoration: none;
}

a:hover{
  color: blue;
  text-decoration: underline;
}

a:visited{
  color: grey;
}


/* Cabecera */
header{
  margin-top: 20px;
  padding-bottom: 80px;
}

header img{
  margin-left: 70px;
  margin-right: auto;
  float: left;
  display: block;
  height: 150px;
  width: 150px;
}

header h1{
  width: 40%;
  margin-top: 40px;
  margin-left: 9%;
  text-align: center;
  display: inline-block;
  font-family: courier;
  color: blue;
  font-size: 50px;
}

header aside{
  padding-top: 30px;
  float: right;
  width: 25%;
  color: white;
}

#username{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  border: solid white 1px;
  display: block;
}

header aside a{
  margin-left: 35%;
}

#u{
  margin-left: 130px;
}


/* Contenido del cuerpo de la página */
section.main{
  width: 100%;
  display: inline-block;
  text-align: center;
  border: solid white 1px;
  border-radius: 10px;
}

section.main h1{
  width: 40%;
  margin-left: 30%;
  padding: 2px;
  color: blue;
  font-family: courier;
  border: solid white 1px;
  border-radius: 10px;
}

section.main fieldset{
  width: 100%;
  border: none;
  display: inline-block;
  float: left;
}

section.col{
  float: left;
  width: 33%;
}

section.main fieldset input{
  font-family: Georgia;
  color: white;
  font-size: 25px;
  height: 100px;
  width: 90%;
  background: none;
  margin-left: auto;
  margin-right: auto;
}

label{
  font-family: Georgia;
  color: white;
}

#name, #user, #bm{
  background: none;
  margin-top: 15px;
  height: 25px;
  font-size: 20px;
}


/* Pie de página */
footer{
  color: white;
  width: 99%;
  border: solid white 1px;
  border-radius: 10px;
  padding-left: 10px;
  text-align: center;
}

footer a{
  font-size: 17px;
  font-style: italic;
  padding-left: 10px;
}
